<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Firmware Upload</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.png">
    <link rel="stylesheet" href="static/css/fwupload.css" />
  </head>
  <body>
  <nav class="topnav">
    <div class="nav-title">ESP32 Firmware Upload</div>
    <div class="nav-links">
        <a href="/">Control</a>
        <a href="/api">API</a>
        <a href="/upload_fw" class="disabled">Firmware Upload</a>
    </div>
</nav>
    <div class="box">
      <!-- Upload Form -->
      <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput" accept=".bin" required>
        <button type="submit">Upload to Server</button>
      </form>

      <div id="updateSection" style="display:none; margin-top:20px;">
        <button id="startUpdateBtn" disabled>Start Firmware Update</button>
        <div id="updateStatus"></div>
      </div>

      <div id="message" style="margin-top:20px;"></div>
    </div>
  </body>
<script src="/static/js/fwupdate.js"></script>
</html>