<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESP32 CAM Controller</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.png">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

<h1>ESP32 CAM Control Panel</h1>

<div class="container">
    <!-- Video -->
    <div class="video">
        <img src="/video_feed" width="100%">
    </div>

    <!-- Controls -->
    <div class="controls">

        <div class="section">
            <h3>Streaming:</h3>
            <button onclick="sendCmd('start')">Start</button>
            <button onclick="sendCmd('stop')">Stop</button>
        </div>
        <div class="section">
            <h3>Wheel Timeout (ms):</h3>
            <input type="number" id="timeout" value="255">
            <button onclick="sendCmd('timeout', getVal('timeout'))">Set</button>
        </div>
        <div class="section">
            <h3>Wheel Speed:</h3>
            <input type="number" id="speed" value="600">
            <button onclick="sendCmd('speed', getVal('speed'))">Set Speed</button>
        </div>
        <div class="section">
            <h3>Light:</h3>
            <input type="number" id="light" value="600">
            <button onclick="sendCmd('light', getVal('light'))">Set LED</button>
        </div>
        <div class="section">
            <h3>Servo 1:</h3>
            <input type="number" id="m1" value="90">
            <button onclick="sendCmd('motor1', getVal('m1'))">Set</button><br>
        </div>
        <div class="section">
            <h3>Servo 2:</h3>
            <input type="number" id="m2" value="90">
            <button onclick="sendCmd('motor2', getVal('m2'))">Set</button><br>
        </div>
        <div class="section">
            <h3>Servo 3:</h3>
            <input type="number" id="m3" value="90">
            <button onclick="sendCmd('motor3', getVal('m3'))">Set</button>
        </div>

        <div class="log" id="log"></div>
    </div>
</div>

<script src="/static/js/index.js"></script>
</body>
</html>
