body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    margin: 0;
    padding: 10px;
}
code {
    background: #222;
    padding: 2px 6px;
}
li {
    margin-bottom: 0.5rem;
}
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.topnav .nav-title {
    font-size: 1.2em;
    font-weight: bold;
}

.topnav .nav-links a {
    color: #ddd;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500;
}

.topnav .nav-links a:hover {
    color: #fff;
    text-decoration: underline;
}
.topnav .nav-links a.disabled {
    color: #777;
    cursor: none;
    pointer-events: none;
    text-decoration: none;
    opacity: 0.6;
}